:root {
    --primary: #ffff;
}

.btn {
    padding: 8px 20px;
    border-radius: 2px;
    outline: none;
    border: none;
    cursor: pointer;
    width: 150px;
    height: 50px;
    border-radius:  50px 50px;
    background-color: #9AB5AC;
    color: white;
    font-weight: 600;
}

.btn--primary {
    background-color: #0F5360;
    color: #ffffff;
    width: 150px;
    height: 50px;
    border-radius:  50px 50px;
    transition: all 0.3s ease-out;
    margin: 15px;
}

.btn-medium {
    padding: 8px 20px;
    font-size: 20px;
}

.btn--medium:hover, .btn--large:hover {
    background: #ffff;
    color: #242424;
    transform: 250ms;
}