.container2-transp{
    padding: 2%;
    gap: 3%;
    margin-top: 5%;
    width: 50%;
    height: 85%;
    background-color: #47474741;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.container2-dark{
    padding: 5%;
    gap: 3%;
    width: 100%;
    height: 100%;
    background-color: #202020;
    display: flex;
    align-items: center;
    justify-content: center;
}

.register-img{
    width: 50%;
    height: 100%;
    object-fit: cover;
}

.registerForm{
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    font-family: Roboto;
    align-items: center;
    gap: 3.5%;
}

.form-champ-double{
    width: 100%;
    height: 9%;
    display: flex;
    flex-direction: row;
    gap: 5%;
}

.form-sschamp-double{
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 4%;
}

.formCGU{
    display: flex;
    flex-direction: column;
}

.form-champCGU{
    display: flex;
    justify-content: center;
}

.CGU-Link{
    color: #2499b1;
    text-decoration: underline;
    cursor: pointer;
}

.CGU-Link:hover{
    color: #29bbd8;
    text-decoration: underline;
    cursor: pointer;
}

.form-checkbox{
    cursor: pointer;
    height: 1rem;
    width: 1rem;
    margin-left: 0.5rem;
}

.errorMsg{
    color: red;
    font-weight: bold;
}