/* Page complète */
.pageMonCpt{
    height: 100vh;
    width: 100%;
    background-image: url('../assets/bgcpt.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

/* transp en-tête */
.topBar{
    width: 100%;
    height: 7%;
    background-color: rgba(0, 0, 0, 0.3);
}

/* Page chargement */
.chargement{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
    color: rgb(65, 41, 0);
}

/* Container cpt board */
.containerCptBoard{
    height: 100%;
    width: 100%;
    padding: 0.5%;
}

.carte{
    background-color: grey;
}

/* La fiche utilisateur */
.ficheUser{
    background-color: rgb(255, 255, 255);
    border : none;
    border-radius: 1rem;
    padding: 0.5%;
    box-shadow: black;
}

/* Widget Messagerie */
.messagerie{
    background-color: rgb(245, 245, 245);
    border : solid 1px black;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
}

.topImg{
    width: 100%;
    height: 5rem;
    object-fit: cover;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom: solid black 1px;
}