.input_container_b{
    background: #d3d3d3;
    height: 9rem;
    width: 100%;
}

.input_m{
    height: 9rem;
    width: 10rem;
    margin-left: 4rem;
    display:flex;
    align-items: center;
    gap: 20%;
}

.label_input{
    display:block;
}

.label_m{
    font-weight: 600;
}

.select_m{
    height: 2rem;
    border-radius: 10px ;
    box-shadow: 10px;
    border: none;
    box-shadow: 0 6px 15px rgba(10, 10, 10, 0.342);
}