.card_search{
    background: cornsilk;
    height: 50rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: row;
}

.bg_cc {
    padding: 4rem;
    background-image: url(../../assets/index.jpeg);
    background-size: cover;
  }